compile
install_dependencies
*.conf
*.bmp
RemoteViewer
wx-config

tests/*

*.json

# Do not ignore C/C++ header files
*.h
!include/*.h
!include/Networking/*.h

# Do not ignore C++ files
*.cpp
!src/*.cpp
!src/Networking/*.cpp

# Do not ignore C files
!*.c

!*.txt

!*.json

